body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

.zone-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.spot {
    width: 120px;
    height: 80px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.free {
    background: #28a745;
}

.occupied {
    background: #dc3545;
}
